<div class="container-md" style="margin-top: 48px; ">
  <div style="text-align: end;">
    <button class="btn btn-signup" routerLink="/signup">SIGNUP</button>
  </div>
  <div class="logo-pos text-center">
    <img src="/assets/images/logo.png">
  </div>

  <div class="row">
    <div class="col col-lg-4">
      </div>
      <div class="col col-lg-4">
        <div class="card-login" style="margin-top: 52px;">
          <form class="mg-32px">
            <label class="text-panel">Login</label>
            <div class="mb-3" style="padding-top: 40px;">
              <label for="exampleInputEmail1" class="form-label">Your Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" required>
            </div>
            <div class="text-center" style="padding-top: 13px;">
              <button type="submit" class="btn-login btn btn-primary" (click)="logueo()">Login</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col col-lg-4">
      </div>
  </div>

</div>